body {
  text-align: center;
  background: cyan url('../assets/images/sigmanaut.png') center 10px no-repeat;
  background-size: 300px;
  font-family: helvetica, sans-serif;
}

h1{
  color: yellow;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  -webkit-text-stroke: 2px black;
}

h2{
  color: magenta;
  font-size: 40px;
  -webkit-text-stroke: 1px black;
}

p {
  color: yellow;
}

#catContainer {
  display: inline-block;
  margin: 40px 20px 20px 20px;
  width: 200px;
}

#catContainer p {
  height: 58px;
  background-color: black;
  border: 1px solid magenta;

}

button {
  background-color: magenta;
  height: 60px;
  width: 200px;
  display: block;
  margin: 15px auto;

}

img {
  height: 200px;
  width: 200px;
  flex-direction: row;
}

#likeDiv {
  margin-top: 65px;
}
